@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:500|Lato:700,500|Montserrat:600");

body {
  background-color: #eafcfc;
}

.ellipse {
  background-color: #3c8f7c;
  border-radius: 14.5px;
  height: 29px;
  width: 29px;
}

.overlap-group {
  height: 29px;
  position: relative;
  width: 232px;
}

.group-70 {
  align-items: flex-start;
  display: flex;
  min-width: 234px;
}

.text-1 {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
}

.span0 {
  color: var(--white);
}

.span1 {
  color: var(--black);
}

.web-9 {
  align-items: flex-start;
  background-color: #eafcfc;
  display: flex;
  flex-direction: column;
  height: 2023px;
  padding: 45px 103px;
  width: 1366px;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.group-87 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 20px 40px #332c2c1a;
  height: 60px;
  width: 1021px;
  border: none;
  font-weight: 500;
  font-size: var(--font-size-xl);
}

.group-87::placeholder {
  color: #969696;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 124px;
  width: 681px;
}

.overlap-group12 {
  align-self: center;
  height: 238px;
  margin-left: 5px;
  margin-top: 80px;
  position: relative;
  width: 1021px;
}

.statementSummary {
  margin-left: 200px;
}

.challengeButton {
  background-color: #50bfa5;
  border-radius: 50px;
  height: 50px;
  width: 300px;
  margin-left: 500px;
  margin-top: 50px;
  color: white;
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  text-align: center;
}

.button-2 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 329px;
}

.overlap-group {
  height: 130px;
  margin-top: -50;
  position: relative;
  width: 407px;
}

.card {
  align-items: flex-start;
  background-color: white;
  display: flex;
  height: 284px;
  justify-content: flex-end;
  min-width: 274px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.overlap-group2 {
  height: 419px;
  margin-top: -39.39px;
  position: relative;
  width: 408px;
}

.button {
  align-items: flex-start;
  display: flex;
  height: 39px;
  min-width: 215px;
}

.overlap-group-3 {
  align-items: flex-start;
  background-color: var(--solitude);
  border-radius: 20px;
  box-shadow: 19px 21px 50px #b0c3d2ba, -8px 0px 8px #f4f8fb80,
    -8px -40px 22px #f6fbff62, -11px -11px 20px #ffffff45;
  display: flex;
  height: 41px;
  margin-left: 30px;
  margin-top: 120px;
  margin-bottom: 250px;
  min-width: 215px;
  padding: 13px 18px;
}

.flex-row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 284px;
  margin-left: 16px;
  margin-top: 87px;
  min-width: 956px;
  position: relative;
}

.suis {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  text-shadow: 0px 2px 2px #272c3533;
  transform: rotate(-0.02deg);
  width: 170px;
  margin-bottom: 50px;
}

.text-4 {
  letter-spacing: 0;
  min-height: 124px;
  width: 681px;
  margin-top: 1600px;
  margin-left: 400px;
}
